<div id="profileOutput" class="row large-12 large-offset-3 large-centered">
	<div class="large-1 medium-4 small-5 columns th" ng-repeat="hero in profileData.heroes  | limitTo:10" ng-class="{'end':$last}" style="margin: 0 5 20 5;padding-left: 0px;padding-right: 0px;border-left-width: 1px;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;">
		<a ui-sref="search.profile.hero({heroId: hero.id })" ui-sref-opts="{location: true, inherit: true, relative: '/'}">
			<div class="heroContainer text-center clearfix">
				<IMG ng-src="/assets/images/{{hero.class}}{{hero.gender}}.png" style="height:50px;width:50px"/>
				<p class="label">{{hero.name | uppercase | limitTo:7}}</p>
			</div>
		</a>
	</div>
</div>
<div ui-view id="diabloHeroView">
	<p> Hero details will appear here! </p>
</div>