<div class="panel">
    <div class="panel callout radius">
        <h4>Character:</h4>
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 text-center">
            <li>
                <h4>Name: {{ heroData.name }}</h4>
            </li>
            <li>
                <h4>Class: {{ heroData.class }}</h4>
            </li>
            <li>
                <h4>Paragon Level: {{ heroData.paragonLevel }}</h4>
            </li>
        </ul>
    </div>

    <div class="panel callout radius">
        <h4>Items:</h4>
        <table>
               <tr>
                   <td>
                       {{heroData.items.shoulders.name}}
                   </td>
                   <td>
                       {{heroData.items.head.name}}
                   </td>
                   <td>
                       {{heroData.items.neck.name}}
                   </td>
               </tr>
                <tr>
                    <td>
                        {{heroData.items.hands.name}}
                    </td>
                    <td>
                        {{heroData.items.torso.name}}
                    </td>
                    <td>
                        {{heroData.items.bracers.name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{heroData.items.leftFinger.name}}
                    </td>
                    <td>
                        {{heroData.items.waist.name}}
                    </td>
                    <td>
                        {{heroData.items.rightFinger.name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{heroData.items.mainHand.name}}
                    </td>
                    <td>
                        {{heroData.items.legs.name}}
                    </td>
                    <td>
                        {{heroData.items.offHand.name}}
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        {{heroData.items.feet.name}}
                    </td>
                    <td>

                    </td>
                </tr>
            </table>
    </div>

    <div class="panel callout radius">
        <h4>Skills:</h4>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
            <li ng-repeat="skill in heroData.skills.active">
                <ul>
                    <li>{{ skill.skill.name }}</li>
                    <a href="http://eu.battle.net/d3/en/tooltip/{{skill.skill.tooltipUrl}}">skill tooltip</a>
                    <li>{{ skill.rune.name }}</li>
                    <a href="">rune tooltip</a>
                </ul>
            </li>
        </ul>
    </div>

</div>
