<form ng-submit="search()">
    Enter text and hit enter:
    <input type="text" ng-model="battleTag" name="text" />
    <select ng-model="selected" ng-options="s as s for s in selectedData">
    </select>
    <input type="submit" id="submit" value="Submit"/>
</form>
{{ test }}