<div data-alert id="searchError" class="alert-box info radius">
    {{ searchError }}
    <a href="#" class="close">&times;</a>
</div>
<form ng-submit="search()">
    <div class="row large-12 large-centered large-collapse">
        <div class="small-8 medium-6 large-6 columns">
            <input type="text" ng-model="battleTag" name="text" />
        </div>
        <div class="small-4 medium-3 large-3 columns">
            <select ng-model="selected" ng-options="s as s for s in selectedData">
            </select>
        </div>
        <div class="small-12 medium-3 large-3 columns end">
            <input type="submit" id="submit" value="Submit" class="button expand postfix"/>
        </div>
    </div>
</form>
<div ui-view id="diabloProfileView">
	<p> Profile results will appear here! </p>
</div>